<po-page-default>
    <po-divider></po-divider>
    <p>Manutenção de {{tituloColuna}} do seu condomínio:</p>
    <po-divider></po-divider>
    <div class="po-row">
        <po-input 
            class="po-md-6"
            style="margin-right: -0.6%;"
            name="nome"
            p-label="Nome"
            p-maxlength="200"
            p-clean="true"
            [(ngModel)]="nivel1.nome">
        </po-input>
        <po-button
            class="po-md-1"
            style="margin-top: 2.5%"
            p-label="Inserir"
            (p-click)="inserir()"
            p-icon="po-icon-plus-circle">
        </po-button>
    </div>
    <po-divider></po-divider>
    <div class="po-row">
        <po-button
            class="po-md-1"
            p-label="Editar"
            [p-disabled]="flagDesabilitarBotoes"
            (p-click)="modalDeEdicao.open()"
            p-icon="po-icon-edit">
        </po-button>
        <po-button
            class="po-md-1"
            p-label="Excluir"
            [p-disabled]="flagDesabilitarBotoes"
            (p-click)="modalDeExclusao.open()"
            p-icon="po-icon-delete">
        </po-button>
        <po-input 
            class="po-md-4"
            name="pesquisa"
            p-maxlength="200"
            p-clean="true"
            [(ngModel)]="parametroDePesquisa"
            style="margin-right: -0.6%; margin-top: -0.6%"
            p-placeholder="Pesquisar">
        </po-input>
        <po-button
            class="po-md-1"
            p-icon="po-icon-search"
            (p-click)="pesquisar()">
        </po-button>
    </div>
    <div 
        class="po-row po-md-12"
        style="margin-top: 1%">
        <po-table
            [p-columns]="colunas"
            [p-items]="listaDeNivel1"
            p-container="border"
            (p-selected)="selecionarItemDaTabela($event)"
            (p-unselected)="desselecionarItemDaTabela($event)"
            p-checkbox="true"
            p-single-select>
        </po-table>
    </div>
    <po-modal 
        #modalDeEdicao
        [p-title]="tituloModalEdicao"
        p-hide-close
        [(p-primary-action)]="acaoAtualizarDaModalDeEdicao"
        [(p-secondary-action)]="acaoFecharDaModalDeEdicao"> 
        <po-input 
            name="nome"
            p-label="Nome"
            p-maxlength="200"
            p-clean="true"
            [(ngModel)]="nivel1Selecionado.nome">
        </po-input>   
    </po-modal>
    <po-modal 
        #modalDeExclusao
        [p-title]="tituloModalExclusao"
        p-hide-close
        [(p-primary-action)]="acaoDeletarDaModalDeExclusao"
        [(p-secondary-action)]="acaoFecharDaModalDeExclusao">
        {{nivel1Selecionado.nome}}
    </po-modal> 
</po-page-default>

